<div id="<%= dom_id property %>">
  <p>
    <strong>Direcci칩n:</strong>
    <%= property.direcci칩n %>
  </p>

  <p>
    <strong>Cuartos:</strong>
    <%= property.cuartos %>
  </p>

  <p>
    <strong>Ba침os:</strong>
    <%= property.ba침os %>
  </p>

  <p>
    <strong>Extras:</strong>
    <%= property.extras %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= property.precio %>
  </p>

</div>
