<main>
  <div class="show_container">
    <section class="gallery">
      <div class="slider-container">
        <div class="slider-track">
          <% @property.photos.each do |photo| %>
            <%= cl_image_tag photo.key,
                  loading: "lazy",
                  class: "slider-image" %>
          <% end %>
        </div>

        <button class="slider-btn prev">‹</button>
        <button class="slider-btn next">›</button>
      </div>
    </section>

    <section class="details">
      <h2>Más detalles:</h2>
      
      <div class="details-content">
        <div>
          <div style="margin: 10px; display: flex; justify-content: center;">
            <span class="material-symbols-outlined">home_pin</span>
            <p style="font-weight: bold; border-bottom: solid 1px; margin-left: 8px;"> 
              Dirección: <%= @property.direccion %> 
            </p>
          </div>

          <div style="margin: 10px; display: flex; justify-content: center;">
            <span class="glyphicon glyphicon-tree-deciduous"></span>
            <p style="font-weight: bold; border-bottom: solid 1px; margin-left: 8px;">
              Colonia: <%= @property.colonia %>
            </p> 
          </div>

          <div style="margin: 10px; display: flex; justify-content: center;">
            <span class="material-symbols-outlined">door_front</span>
            <p style="font-weight: bold; border-bottom: solid 1px; margin-left: 8px;">
              Cuartos: <%= @property.cuartos %>
            </p>
          </div>

          <div style="margin: 10px; display: flex; justify-content: center;">
            <span class="material-symbols-outlined">wc</span>
            <p style="font-weight: bold; border-bottom: solid 1px; margin-left: 8px;">
              Baños: <%= @property.banos %>
            </p>
          </div>

          <div style="margin: 10px; display: flex; justify-content: center;">
            <span class="material-symbols-outlined">format_align_justify</span>
            <p style="font-weight: bold; border-bottom: solid 1px; margin-left: 8px;">
              Extras: <%= @property.extras %>
            </p>
          </div>

          <div style="margin: 20px 10px;">
            <p style="font-size: 45px;">
              Precio: <%= number_to_currency(@property.precio, unit: "$", separator: ".", delimiter: ",") %>
            </p>
          </div>
        </div>
      </div>

      <div class="details-footer">
        <button class="btn btn-info">Reservar una cita</button>
      </div>
    </section>
  </div>
  
  <div style="text-align: end; padding: 15px;">
    <%= link_to "Regresar al catálogo", properties_path %>
  </div>
</main>