<body style=" background-position: center;
background-repeat: no-repeat; 
background-size: cover;">

  <div style="margin: 20px;">
    <h1 style="text-align: center;" ><%= @property.direccion.capitalize %></h1>
  </div>

  <div style=" background: rgba(255, 255, 255, 0.13);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(3px);
                border: 1px solid rgba(255, 255, 255, 1);
                margin: 25px;">
    
      <main>
        <div class="show_container" style="display: flex; padding: 20px;">
          <section class="gallery">
          <div class="slider-container">
            <div class="slider-track">
              <% @property.photos.each do |photo| %>
                <%= cl_image_tag photo.key,
                      loading: "lazy",
                      class: "slider-image" %>
              <% end %>
            </div>

            <button class="slider-btn prev">‹</button>
            <button class="slider-btn next">›</button>
          </div>
        </section>

    
        <section class="details" style="text-align: center; margin: 8px;">
          <h2>Más detalles:</h2>
          
          <div>
            <div style="justify-content: center;">
              <div style="margin: 10px; display: flex;">
                <span class="material-symbols-outlined">
                  home_pin
                </span>
                <p style="font-weight: bold; border-bottom: solid 1px;"> Dirección: <%= @property.direccion %> </p>
              </div>
    
              <div style="margin: 10px; display: flex;">
                <span class="glyphicon glyphicon-tree-deciduous"></span>
                <p style="font-weight: bold; border-bottom: solid 1px;">Colonia: <%= @property.colonia %></p> 
              </div>
            </div>
            
            <div style="justify-content: center;">
              <div style="margin: 10px; display: flex;">
                <span class="material-symbols-outlined">
                  door_front
                  </span>
                <p style="font-weight: bold; border-bottom: solid 1px;">Cuartos: <%= @property.cuartos %></p>
              </div>
    
              <div style="margin: 10px; display: flex;">
                <span class="material-symbols-outlined">
                  wc
                  </span>
                <p style="font-weight: bold; border-bottom: solid 1px;">Baños: <%= @property.banos %></p>
              </div>
            </div>
            
            <div style="margin: 10px; display: flex;">
              <span class="material-symbols-outlined">
                format_align_justify
                </span>
              <p style="font-weight: bold; border-bottom: solid 1px;">Extras: <%= @property.extras %></p>
            </div>
    
            <div style="margin: 10px; display: flex; justify-content: center;">
              <p style="font-size: 45px;">Precio: <%= number_to_currency(@property.precio, unit: "$", separator: ".", delimiter: ",") %></p>
            </div>
          </div>
    
          <button class="btn btn-info"> Reservar una cita </button>
    
    
        </section>
        </div>
        
        <div style="text-align: end; padding: 15px;" >
          <%= link_to "Regresar al catálogo", properties_path%>
        </div>
  </div>



    </main>
</body>


