<!DOCTYPE html>
<html>
  <head>
    <title>Kcalli Inmobiliaria</title>
    <%= favicon_link_tag 'icono_kcalli.png' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  </head>

  <body>

    <% unless devise_controller? %>
      <%= render 'layouts/header' %>
    <% end %>

    <%= yield %>

    <% unless devise_controller? %>
      <%= render 'layouts/footer' %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- Optional theme -->
    
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script>
    document.addEventListener("turbo:load", () => {
      const track = document.querySelector(".slider-track");
      const nextBtn = document.querySelector(".next");
      const prevBtn = document.querySelector(".prev");
      const images = document.querySelectorAll(".slider-image");
      let index = 0;

      function updateSlide() {
        const offset = -index * 100;
        track.style.transform = `translateX(${offset}%)`;
      }

      nextBtn.addEventListener("click", () => {
        index = (index + 1) % images.length;
        updateSlide();
      });

      prevBtn.addEventListener("click", () => {
        index = (index - 1 + images.length) % images.length;
        updateSlide();
      });
    });
  </script>
  </body>
</html>
